@font-face {
    font-family: 'Calibri';
    src: url('/css/Calibri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1  {font-family: Calibri;
     max-width: 80%;
     text-align: center;
     margin: auto;
     font-size: 3em
    }
p  {font-family: Calibri;
    max-width: 80%;
    text-align: center;
    margin: auto;
    font-size: 1.75em
    }
center  {font-family: Calibri;
         max-width: 80%;
         text-align: center;
         margin: auto;
         font-size: 1.75em
        }
note {font-family: Calibri;
      font-size: 75%
      max-width:80%
      text-align: center;
      margin: auto;
      font-size: 1.75em
      }
img  {max-width: 100%
      height: auto
    }
