h1  {font-family: calibri;
       src: url("/calibri.ttf") format('truetype');
     max-width: 80%;
     text-align: center;
    }
p  {font-family: calibri;
      src: url("/calibri.ttf") format('truetype');
    max-width: 80%;
    text-align: center;
    }
center  {font-family: calibri;
          src: url("/calibri.ttf") format('truetype');
         max-width: 80%;
         text-align: center;
        }
note {font-family: calibri;
        src: url("/calibri.ttf") format('truetype');
      font-size: 75%
      max-width:80%
      text-align: center;
      }
img  {max-width: 100%
      height: auto
    }
